@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 15px;               
}

body::-webkit-scrollbar-track {
  background: gray;        
}

body::-webkit-scrollbar-thumb {
  background-color:rgb(79 70 229);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}